* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body{
    width: 100vw;
    height: 100vh;
}
.main{
    height: 100%;
    display: flex;
}

.left-side{
    width: 80px;
    background-color: rgb(243, 235, 228);
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
    border-radius: 10px;
}

.content{
    width: auto;
}

.right-side{
    width: 400px;
    background-color: rgb(243, 235, 228);
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 15px;
    border-radius: 10px;
}